<div class="shortsale-banner__container">
  <div class="shortsale-banner__main">
    <div class="shortsale-banner__headline">{{ headline }}</div>
    <div class="shortsale-banner__subline">{{ subline }}</div>
  </div>
  <div class="shortsale-banner__footnote">Ausgenommen sind Top-Angebote & Deals.</div>
</div>